<% provide(:title, '所有测点') %>
<%= link_to "导出测点数据" , for_point_path %>
<% provide(:button_text, '导入文件') %>
<div class="btn-data" style="width:150px;height:10px;border:none;outline:none;">
<%= form_for(current_user) do |f| %>
    <p><%= f.label "请输入导入的文件" %></p>
    <%= f.file_field :point_adrr ,style: "width:147px;height:10px;border:none;outline:none;"%> 
    <%= f.submit yield(:button_text), class: "btn btn-primary" ,style: "width:147px" %>
<% end %>
</div>

<h1>所有测点 (<%= @points.count %>)</h1>
<%= will_paginate %>
<div class="row">
    <aside class="col-md-4">
        <p><strong> 轻度腐蚀数 (<%= @minor_list.count %>)</p>
        <% @feed_point = Point.where(id: @minor_list )%>
            <% if @feed_point.any? %>
                <ol class="points">
                    <%= render @feed_point %>
                </ol>
            <% end %>
    </aside>

    <aside class="col-md-4">
        <p><strong> 中度腐蚀数 (<%= @medium_list.count %>)</p>
        <% @feed_point = Point.where(id: @medium_list)%>
            <% if @feed_point.any? %>
                <ol class="points">
                    <%= render @feed_point %>
                </ol>
            <% end %>
    </aside>

    <aside class="col-md-4">
        <p><strong> 严重腐蚀数 (<%= @severe_list.count %>)</p>
        <% @feed_point = Point.where(id: @severe_list)%>
            <% if @feed_point.any? %>
                <ol class="points">
                    <%= render @feed_point %>
                </ol>
            <% end %>

    </aside>
</div>
<%= will_paginate %>