<% provide(:title, "测点") %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <ol>
                <li><h1>当前测点编号</h1><p><strong> <%= @point.num %></p></li>
                <li><h1>测点原始长度</h1><p><strong> <%= @point.original_thinckness %></p></li>
                <li><h1>测点当前长度</h1><p><strong> <%= @point.current_thinckness %></p></li>
                <li><h1>测试次数</h1><p><strong>   <%= @count.count%></p></li>
                <br>
                <!--<li><h1>轻度腐蚀数</h1><p><strong> <%= Point.where("num = ?", @point.num).count%></p></li>
                <li><h1>中度腐蚀数</h1><p><strong> <%= Point.where("num = ?", @point.num).count%></p></li>
                <li><h1>严重腐蚀数</h1><p><strong> <%= Point.where("num = ?", @point.num).count%></p></li>
-->             
            </ol>
        </section>
    </aside>
    
    <aside class="col-md-4">
        <section class="user_info">
            <ol>
            <% @count.each do |devi| %>
                <% if (devi.current_thinckness)/(devi.original_thinckness) > 0.8 and (devi.current_thinckness)/(devi.original_thinckness) <= 1  %>
                        <% @minor_point  += 1 %>
                <% elsif  0.8 >= (devi.current_thinckness)/(devi.original_thinckness) and (devi.current_thinckness)/(devi.original_thinckness) > 0.5   %>
                        <% @medium_point += 1 %>
                <% else %>
                        <% @severe_point += 1 %>
                <% end %>
            <%end%>
            <ol>
            <li><h1><strong>腐蚀程度</h1></li>
            <li><h1>轻度腐蚀数</h1><p><strong> <%= @minor_point   %></p></li>
            <li><h1>中度腐蚀数</h1><p><strong> <%= @medium_point  %></p></li>
            <li><h1>严重腐蚀数</h1><p><strong> <%= @severe_point  %></p></li>
            <br>
            </ol>
        </section>
    </aside>

    <aside class="col-md-4">
        <section class="user_info">
            <ol>
            <li><h1><strong>腐蚀程度</h1></li>
            <li><h1>轻度腐蚀数</h1></li>
            <li><h1>中度腐蚀数</h1></li>
            <li><h1>严重腐蚀数</h1></li>
            <br>
            </ol>
        </section>
    </aside>
</div>