<% if current_user?(@device.user) %>
	<%= form_for(@device) do |f| %>
	    <%= render 'shared/error_messages', object: f.object %>

	    <%= f.label "姓名" %>
	    <%= f.text_field :name, class: 'form-control' %>

	    <%= f.label "编号" %>
	    <%= f.text_field :num, class: 'form-control' %>

	    <%= f.label "简介" %>
	    <%= f.text_area :introduction, class: 'form-control' %>

	    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
	<% end %>
<% else %>
    <h1>不好意思，你不是当前用户</h1>
<% end %>
