<% provide(:title, @device.name) or current_user.admin? %>
<% if current_user?(@device.user) %>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <p>
                    <li><h1><strong>当前装置</h1><p><strong><%= @device.name %></p></li>
                    <li><h1>编号</h1><p><strong><%= @device.num %></p></li>
                    <br>
                    <li><h1>装置的简介为</h1></li>
                    <li><p><strong><%= @device.introduction %></p></li>
                    <li>
                        <%= link_to "更新",  edit_device_path(@device)  %>
                    </li>
                </p>
            </section>
            <section class="equip_form">
                <%= render 'shared/equip_form' %>
            </section>

        </aside>
        <div class="col-md-8">
            <% if @device.equips.any? %>
                <h3>设备数 (<%= @device.equips.count %>)</h3>
                <ol class="equips">
                    <%= render 'shared/feed_equip' %>
                </ol>
            <% end %>
        </div>

    </div>

<% else %>
    <h1>不好意思，你不是当前用户</h1>
<% end %>