
<%= form_for(@pgrade) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <p>严重腐蚀点需要大于0，小于1和轻度腐蚀点，例如0.4</p>
    <%= f.label :severe_point %>
    <%= f.text_field :severe_point , class: 'form-control' %>
    <p>轻度腐蚀点需要小于1，大于0和轻度腐蚀点，例如0.7</p>
    <%= f.label :minor_point %>
    <%= f.text_field :minor_point, class: 'form-control' %>


    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

