<li id="equip-<%= equip.id %>">
    <span class="device"><li><p><strong>当前装置</p><%= link_to equip.device.name, equip.device %></li></span>
    <span class="name"><li><p><strong>设备种类</p><%= equip.specie %></li></span>
    <span class="name"><li><p><strong>设备名称</p><%= link_to equip.name,  equip_path(equip.id)%></li></span>
    <span class="name"><li><p><strong>设备编号</p><%= equip.num %></li></span>
    <span class="name"><li><p><strong>生产厂商</p><%= equip.manufacturer %></li></span>
    <span class="name"><li><p><strong>材质</p><%= equip.material %></li></span>
    <span class="name"><li><p><strong>规格</p><%= equip.specification %></li></span>
    <span class="timestamp">
        发布于 <%= time_ago_in_words(equip.created_at) %> 前.
        <% if current_user?(equip.device.user) %>
        <%= link_to "删除", equip, method: :delete,
                                     data: { confirm: "确定?" } %>
        <% end %>
    </span>
</li>
<br>
<br>