<% provide(:title, 'All equips') %>
<%= link_to "导出设备数据" , for_equip_path %>
<h1>所有设备 (<%= @equips.count %>)</h1>

<%= will_paginate %>

<ul class="equips">
	<%= render @equips %>
</ul> 

<%= will_paginate %>
